{%if statsd_nodes %}
{
nodes: [
{% for node in statsd_nodes %}
{% if loop.last %}
{host: '{{node.host}}', port: {{node.port}}, adminport: {{node.adminport}}}
{% else %}
{host: '{{node.host}}', port: {{node.port}}, adminport: {{node.adminport}}},
{% endif %}
{% endfor %}
],
udp_version: 'udp4',
host:  '0.0.0.0',
port: 8125,
checkInterval: 1000,
cacheSize: 10000,
log: { 'backend' : 'syslog' , 'application' : 'statsd_d' , 'level' : 'LOG_DEBUG' },
dumpMessages: true
}
{% else %}
{
  graphitePort: 2003
, graphiteHost: "{{graphiteHost}}"
, port: 8125
, flushInterval: 60000
, backends: [ "./backends/graphite" ]
, deleteIdleStats: true
, log: { 'backend' : 'syslog' , 'application' : 'statsd_d' , 'level' : 'LOG_DEBUG' }
, dumpMessages: true
}
{% endif %}
