[program:statsd]
{%if statsd_nodes %}
command=/usr/local/bin/node /opt/statsd/proxy.js /opt/statsd/localConfig.js
{% else %}
command=/usr/local/bin/node /opt/statsd/stats.js /opt/statsd/localConfig.js
{% endif %}
process_name=%(program_name)s
autostart=true
autorestart=true
stopsignal=QUIT

{%if not statsd_nodes %}
[program:statsd_tcp]
command=/usr/local/bin/node /opt/statsd/stats.js /opt/statsd/localConfig_tcp.js
process_name=%(program_name)s
autostart=true
autorestart=true
stopsignal=QUIT
{% endif %}
